<!DOCTYPE html>
<!--[if IEMobile 7 ]>
    <html class="no-js iem7">
    <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]>
    <!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>QuickCup</title>
    <meta name="description" content="QuickCup, spontaneous coffee for ambitious people">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../static/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/static/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/static/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="../static/img/touch/apple-touch-icon.png">

    <meta name="msapplication-TileImage" content="../static/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="">
    <meta name="apple-mobile-web-app-title" content="QuickCup">
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script src="../static/css/jquery.vegas.min.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.vegas.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    {% block style %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>