<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        #container {
            width: 90%;
            margin: auto;
            text-align: center;
        }

        #times {
            display: none;
        }

        p {
            width: 80%;
            margin: 1em;
        }

        li {
            list-style: none;
            margin: 1em auto;
        }
    </style>
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGFtQ8X9jq8ZXT2DsHqawdFUmCKZJqVc8&v=3.exp&sensor=true"></script>
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
</head>
<body>

<div id="container">
    <div id="places"><em>working...</em></div>
    <div id='times'><h4>pick a time from now</h4>
        <select id="selectfield">
            <option id="30" value="60">60 minutes</option>
            <option id="60" value="90">90 minutes</option>
            <option id="90" value="120">120 minutes</option>
        </select>

        <p></p><input type='button' class='btn btn-success' id="submit" value="Confirm Invitation"></p>
        <p><em>Invitation will be sent upon confirmation, carefully review before submitting.</em></p>

    </div>
</div>
<script>
    recipient = {latitude: {{ recipient.latitude }}, longitude: {{ recipient.longitude }} };
    localStorage.setItem('recipient', JSON.stringify(recipient));
    profile = JSON.parse(localStorage.getItem('profile'));
    coords = JSON.parse(localStorage.getItem('coords'));
    greeting = "<h2>Invitation</h2>";
    greeting += '<img id="{{ recipient.linkedin }}" src="{{ recipient.picture_url }}">';
    greeting += '<p><em>Hey, {{ sender.first_name }}, looking to invite {{ recipient.first_name }} for a chat about {{ recipient.industry }}?</em></p>'
    $('#container').prepend(greeting)


</script>
<script src="/static/js/send_invite_script.js"></script>
</body>
</html>